@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif;
  color: rgb(56, 56, 56);
}

.app {
  background-image: url("../wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.todo-app {
  background: linear-gradient(90deg, rgba(211, 225, 255, 0.703) 0%, rgba(213, 213, 255, 0.821) 48%, #e6fffbb9 100%);
  border-radius: 10px;
  border-style: solid 1px;
  border-color: gray;
  width: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
  box-shadow: 0 30px 50px rgba(0, 0, 0, .2);

}

.dashboard {
  background: rgb(132, 170, 255);
  background: linear-gradient(90deg, rgba(132, 170, 255, 1) 0%, rgba(192, 192, 255, 1) 48%, rgba(156, 255, 237, 1) 100%);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
}

.form-add-todo,
.todo-edit-form {
  background: linear-gradient(90deg, rgba(132, 170, 255, 1) 0%, rgba(192, 192, 255, 1) 48%, rgba(156, 255, 237, 1) 100%);
  border-bottom: 1px solid rgb(168, 168, 168);
  padding: 8px 16px;
  display: flex;
  gap: 2px;
}

.form-add-todo>input,
.todo-edit-form>[type=text] {
  border-radius: 20px;
  flex-grow: 8;
  font-size: large;
  padding: 4px 8px;
}

.form-add-todo>button {
  border: none;
  color: #fff;
  background: linear-gradient(90deg, rgba(162, 191, 255, 1) 0%, rgba(168, 168, 255, 1) 48%, rgba(119, 181, 255, 1) 100%);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 10px;
  padding: 0.6em 1.5em;
}

.form-add-todo>button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.todo-container {
  /* border: 1px dashed lime; */
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.todo-item {
  padding: 4px 9px;
  display: flex;
  justify-content: space-between;
  font-size: large;
  gap: 5px;
}

.todo-item p {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.todo-item .btn-group {
  display: flex;
  gap: 3px;
}

.todo-item .btn-group a {
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.todo-item .btn-group a :hover{
  background-color: aliceblue;
  border-radius: 5px;
  padding: 2px;
}

.job-done {
  text-decoration: line-through;
  color: black;
}

.todo-item p:hover {
  background-color: aliceblue;
}

.btn-group a:hover {
  background-color: aliceblue;
}

.todo-edit-form button{
  border: none;
  color: #fff;
  background: linear-gradient(90deg, rgba(162, 191, 255, 1) 0%, rgba(168, 168, 255, 1) 48%, rgba(119, 181, 255, 1) 100%);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 10px;
  padding: 0.6em 1.5em;
}

.todo-edit-form button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }


